.widget {
    background: lighten($lt-gray, 10%);
    margin-bottom: $xl-size;
}

.message {
    color: $off-white;
    margin:0;
    padding: $l-size;
    text-align: center;
    border-bottom: 1px solid $off-white;
}

.widget-header {
    background: $lt-gray; 
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;

    h3 {
        margin:0
    }
}